.desktop-icon {
  width: 72px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  user-select: none;
  border-radius: 4px;
}

.desktop-icon.selected {
  background: rgba(0, 120, 215, 0.3);
  outline: 1px solid #0078d7;
}

.icon-image {
  margin-top: 20px;
  scale: 1.5;
  filter: drop-shadow(1px 1px 0 black);
}

.icon-label {
  text-align: center;
  font-size: px;
  color: white;
  text-shadow: 1px 1px black;
  margin: 8px;
}
