.win95-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* scrollbar width */
.win95-scroll::-webkit-scrollbar {
  width: 16px;
}

/* scrollbar track */
.win95-scroll::-webkit-scrollbar-track {
  background: lightgrey;
  border-left: 2px solid var(--win95-light);
}

/* scrollbar thumb */
.win95-scroll::-webkit-scrollbar-thumb {
  background: var(--win95-bg);
  border-top: 2px solid var(--win95-light);
  border-left: 2px solid var(--win95-light);
  border-right: 2px solid var(--win95-darker);
  border-bottom: 2px solid var(--win95-darker);
}

/* thumb hover */
.win95-scroll::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
}

/* scrollbar buttons (top/bottom arrows) */
.win95-scroll::-webkit-scrollbar-button {
  height: 16px;
  background: var(--win95-bg);
  border-top: 2px solid var(--win95-light);
  border-left: 2px solid var(--win95-light);
  border-right: 2px solid var(--win95-darker);
  border-bottom: 2px solid var(--win95-darker);
}
